<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>		
		<add key="Path_folder" value="C:\\Peers_Sterisk" />
		<add key="hsm_message_template_language" value="es" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>